<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Обучение</title>
    <base href="https://www.youtube.com" target="_blank"><!-- Определяет начальную часть url всех относительных ссылок(a href...)-->
</head>
<body>
<!--<a href="">Ютуб</a>-->
<p>
Девочка Даша в песочке игралась,<br><!--Нужен для отступов-->
Время от времени громко смеялась,<br>
Чудно девчушке, что мальчик Андрюшка<br>
Ходит по улице, голый с писюшкой!
</p>
</body>
</html>